.number {
  width: 320px;
  height: 180px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color_first {
  font-size: 72px;
}

.color {
  color: red;
  font-size: 72px;
  font-weight: bold;
}
